//catalog===============================================================================
.filter {
  border: 4px solid #72c9d4;

  // .filter__title
  &__title {
    padding: 30px 14px;
    color: #36949f;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  // .filter__content
  &__content {

  }

  // .filter__section
  &__section {
    padding: 20px 18px;
    border-bottom: 1px solid #72c9d4;
  }

  // .filter__caption
  &__caption {
    color: #36949f;
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    margin: 0 0 20px 0;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.active {
      color: #333333;
    }
    
    &.spoiler {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      cursor: pointer;

      &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background: url('../images/icons/spoiler-active.png') center no-repeat;
        right: 9px;
      }
      &::before {
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        border: 1px solid #cbcbcb;
        background-color: #ffffff;
        border-radius: 50%;
        right: 0;
      }
    }
  }

  // .filter__body
  &__comparsion {
  }

  // .filter__manufacturer
  &__manufacturer {
  }

}

.price-filter {
  margin: 0 0 10px 0;

  &__slider {
    padding: 0 10px;
    height: 4px;
    margin: 10px 0 50px 0;

    //default color of range slider
    .noUi-connects {
      background-color: #eaeaea;
    }

    //colored (surrounded by handle-bars) path of slider
    .noUi-connect {
      background-color: #ffcda5;
    }

    //Handle-bars style and position
    .noUi-handle {
      border-radius: 50%;
      width: 23px;
      height: 23px;
      border: 1px solid #f68038;
      background-color: #ffffff;
      position: absolute;
      top: -10px;
      right: -12px;
      cursor: pointer;

      &::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background-color: #f68038;
        border-radius: 50%;
        left: 3px;
        top: 3px;
      }

      &::after {
        display: none;
      }
    }

    .noUi-tooltip {
      bottom: -25px;
      background-color: transparent;
      border: none;
      color: #999999;
      font-size: 12px;
      font-weight: 300;
    }
  }
}

.values {
  display: flex;
  //align-items: center;

  &__label {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
  }

  &__input {
    margin: 0 0 0 7px;
    width: 62px;
    border: 1px solid #dadada;
    padding: 4px;
  }
}

.comparsion {

  // .comparsion__items
  &__items {
    margin: 0 0 18px 0;
  }

  // .comparsion__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 15px 0;
  }

  // .comparsion__link
  &__link {
    display: block;
    color: #1ab9ce;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    text-decoration: underline;
    margin: 0 15px 0 0;
    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  // .comparsion__remove
  &__remove {
    display: inline-block;
    background: url('../images/icons/cross.svg') center no-repeat;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: none;
    margin: 0 13px 0 0;
    
    @media (min-width: $md2+px) {
      &:hover {
        background: url('../images/icons/cross-hover.svg') center no-repeat;
      }
    }
  }

  // .comparsion__buttons
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .comparsion__compare
  &__compare {
    padding: 5px 20px 4px 43px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
    background-color: #1ab9ce;
    border-radius: 20px;
    border: none;
    margin: 0 10px 0 0;
    &::before {
      position: absolute;
      content: '';
      width: 21px;
      height: 21px;
      left: 13px;
      background: url('../images/icons/compare.png') left no-repeat;
    }
  }

  // .comparsion__clear
  &__clear {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e6e6e6;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background: url('../images/icons/trash.svg') center no-repeat;
      width: 20px;
      height: 22px;
    }
  }
}

.manufacturer {

  .checkbox {
    // .checkbox__label
    &__label {

    }

    // .checkbox__text
    &__text {

    }

  }
}






//===============================================================================