//catalog===============================================================================
.filter {
  border: 4px solid #72c9d4;

  // .filter__title
  &__title {
    padding: 30px 14px;
    color: #36949f;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  // .filter__content
  &__content {

  }

  // .filter__section
  &__section {
    padding: 20px 18px;
    border-bottom: 1px solid #72c9d4;
  }

  // .filter__caption
  &__caption {
    color: #36949f;
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    margin: 0 0 30px 0;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .filter__body
  &__body {
    margin: 0 0 30px 0;
  }

}

.price-filter {
  padding: 0 10px;
  height: 4px;

  //default color of range slider
  .noUi-connects {
    background-color: #eaeaea;
  }

  //colored (surrounded by handle-bars) path of slider
  .noUi-connect {
    background-color: #ffcda5;
  }

  //Handle-bars style and position
  .noUi-handle {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    border: 1px solid #f68038;
    background-color: #ffffff;
    position: absolute;
    top: -10px;
    right: -12px;
    cursor: pointer;
    
    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      background-color: #f68038;
      border-radius: 50%;
      left: 3px;
      top: 3px;
    }

    &::after {
      display: none;
    }
  }

  .noUi-tooltip {
    bottom: -32px;
    background-color: transparent;
    border: none;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
  }
}




//===============================================================================