//catalog===============================================================================
.filter {
  border: 4px solid #72c9d4;

  // .filter__title
  &__title {
    padding: 30px 14px;
    color: #36949f;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  // .filter__content
  &__content {

  }

  // .filter__section
  &__section {
    padding: 20px 18px;
    border-bottom: 1px solid #72c9d4;
  }

  // .filter__caption
  &__caption {
    color: #36949f;
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    margin: 0 0 15px 0;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .filter__body
  &__body {
    margin: 0 0 30px 0;
  }

}

.price-filter {
  height: 4px;
  background-color: #eaeaea;
  .noUi-target {
    max-width: 100%;
  }
  .noUi-base {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .noUi-connects {
    overflow: hidden;
    z-index: 0;
  }
  .noUi-connect {
    background-color: #ffcda5;
    width: 100%;
    height: 100%;
  }
  .noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform-style: flat;
  }
  .noUi-handle {
    width: 23px;
    height: 23px;
    border: 1px solid #f68038;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    top: -10px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      background-color: #f68038;
      border-radius: 50%;
      left: 3px;
      top: 3px;
    }
  }
}

//===============================================================================