.rub::after {
  content: '₽';
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.checkbox {
  position: relative;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + .checkbox__text::before {
      background-image: url("../images/icons/check.svg");
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #272822;
    letter-spacing: -0.3px;
    line-height: 1.2;
    cursor: pointer;
    &::before {
      content: "";
      align-items: flex-start;
      margin: 0 14px 0 0;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background: #fff;
      border: 1px solid #a7a9ac;
    }
  }

  a {
    color: #fff;
    text-decoration: underline;
    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.breadcrumbs {
  margin: 40px 0 30px 0;
  overflow: auto;
  white-space: nowrap;
  &__list {
  }

  &__item {
    display: inline-block;
    padding: 0 27px 0 0;
    margin: 0 16px 0 0;
    position: relative;
    color: #1ab9ce;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    text-decoration: underline;

    &::after {
      position: absolute;
      content: '';
      background: url('../images/icons/spoiler-default.png') center no-repeat;
      width: 10px;
      height: 10px;
      top: 3px;
      right: 0;
    }
    &:last-child {
      color: #999;
      padding: 0;
      margin: 0;
      &::after {
        display: none;
      }
    }
  }

  &__link {
    display: inline-block;
    color: inherit;
    text-decoration: underline;
  }

  &__page {
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }
}

.select {
  color: #333333;
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
  @media (max-width: $md4+px) {
    max-width: 100%;
  }

  &__wrapper {
    position: relative;
    background-color: #fff;
    margin: 0 0 0 20px;
    @media (max-width: $md4+px) {
      margin: 0;
    }

    &::after {
      position: absolute;
      content: '';
      width: 14px;
      height: 8px;
      background: url('../images/icons/select-arrow.svg') center no-repeat;
      right: 8px;
      top: 5px;
    }
  }

  &__select {
    padding: 10px 8px 10px 16px;
    //padding: 6px 16px;
    min-width: 170px;
    border: none;
    color: #0097ac;
    font-size: 14px;
    font-weight: 300;
    appearance: none;

    @media (max-width: $md4+px) {
      width: 100%;
      min-width: auto;
      margin: 15px 0 0 0;
    }
  }

}

.pagination {
  display: flex;
  align-items: center;
  // .pagination__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .pagination__item
  &__item {
    margin: 0 15px;
    color: #333333;

    &.active {
      position: relative;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        position: absolute;
        content: '';
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background-color: #fd8424;
        z-index: -1;
      }
    }
  }

  // .pagination__arrow
  &__arrow {
    svg {
      width: 23px;
      height: 19px;
    }

    @media (min-width: $md2+px) {
      &:hover {
        svg path {
          stroke: #fd8424;
        }
      }
    }
  }

  // .pagination__link
  &__link {
    color: inherit;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
  }

  .prev-arrow {
    margin: 0 36px 0 0;
  }

  .next-arrow {
    margin: 0 0 0 36px;
  }
}

.price {
  &__old {
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
    text-align: right;
    &::after {
      font-size: 14px;
      margin: 0 0 0 5px;
    }
  }

  &__actual {
    color: #333333;
    font-size: 24px;
    font-weight: 900;

    &::after {
      font-size: 18px;
      margin: 0 0 0 5px;
    }
  }
}
