.rub::after {
  content: '₽';
}

.require::after {
  content: '*';
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #f68038;
  margin: 0 0 0 3px;
}

.require-text::before {
  content: '*';
  color: #f68038;
  margin: 0 3px 0 0;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.checkbox {
  display: block;
  margin: 0 0 15px 0;
  position: relative;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + .checkbox__text::before {
      border: 2px solid #009aaf;
      background: none;

    }
    &:checked + .checkbox__text::after {
      opacity: 1;
      transform: scale(1);
      transition: all 0.15s cubic-bezier(0.41, 1.13, 0.79, 1.33);
      transform-origin: center;
    }
  }

  &__text {
    display: inline-flex;
    //align-items: center;
    position: relative;
    letter-spacing: -0.3px;
    line-height: 1.2;
    cursor: pointer;
    width: 100%;
    color: #666;
    font-weight: 300;

    &::before {
      content: "";
      align-items: flex-start;
      left: 0;
      top: 0;
      background: #fff;
      margin: 0 12px 0 0;
      flex: 0 0 15px;
      height: 15px;
      border: 2px solid #dadada;
    }

    &::after {
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      left: 3px;
      background-color: #53b5de;
      transform: scale(0.5);
      opacity: 0;
      transition: all 0.15s cubic-bezier(0.47, 1.01, 0.75, 0.97);
    }
  }

  a {
    color: #fff;
    text-decoration: underline;
    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.cart {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;

  &::before {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
  }

  &::after {
    position: absolute;
    content: "";
    background: url("../images/icons/header/cart-default.png") center center no-repeat;
    width: 40px;
    height: 40px;
  }
}

.breadcrumbs {
  margin: 40px 0 30px 0;
  overflow: auto;
  white-space: nowrap;
  &__list {
  }

  &__item {
    display: inline-block;
    padding: 0 27px 0 0;
    margin: 0 16px 0 0;
    position: relative;
    color: #1ab9ce;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    text-decoration: underline;


    &::after {
      position: absolute;
      content: '';
      background: url('../images/icons/spoiler-default.png') center no-repeat;
      width: 10px;
      height: 10px;
      top: 3px;
      right: 0;
    }
    &:last-child {
      color: #999;
      padding: 0;
      margin: 0;
      &::after {
        display: none;
      }
    }
  }

  &__link {
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__page {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}

.select {
  color: #333333;
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
  @media (max-width: $md4+px) {
    max-width: 100%;
  }

  &__wrapper {
    position: relative;
    background-color: #fff;
    margin: 0 0 0 20px;
    @media (max-width: $md4+px) {
      margin: 0;
    }

    &::after {
      position: absolute;
      content: '';
      width: 14px;
      height: 8px;
      background: url('../images/icons/select-arrow.svg') center no-repeat;
      right: 8px;
      top: 5px;
    }
  }

  &__select {
    padding: 10px 8px 10px 16px;
    //padding: 6px 16px;
    min-width: 170px;
    border: none;
    color: #0097ac;
    font-size: 14px;
    font-weight: 300;
    appearance: none;

    @media (max-width: $md4+px) {
      width: 100%;
      min-width: auto;
      margin: 15px 0 0 0;
    }
  }

}

.compare {
  padding: 5px 20px 4px 43px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  background-color: #1ab9ce;
  border-radius: 20px;
  border: none;
  margin: 0 10px 0 0;

  &::before {
    position: absolute;
    content: '';
    width: 21px;
    height: 21px;
    left: 13px;
    background: url('../images/icons/compare.png') left no-repeat;
  }
}
.pagination {
  display: flex;
  align-items: center;
  // .pagination__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .pagination__item
  &__item {
    margin: 0 15px;
    color: #333333;

    &.active {
      position: relative;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        position: absolute;
        content: '';
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background-color: #fd8424;
        z-index: -1;
      }
    }
  }

  // .pagination__arrow
  &__arrow {
    svg {
      width: 23px;
      height: 19px;
    }

    @media (min-width: $md2+px) {
      &:hover {
        svg path {
          stroke: #fd8424;
        }
      }
    }
  }

  // .pagination__link
  &__link {
    color: inherit;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
  }

  .prev-arrow {
    margin: 0 36px 0 0;
  }

  .next-arrow {
    margin: 0 0 0 36px;
  }
}

.price {
  display: inline-block;
  white-space: nowrap;
  &__old {
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
    text-align: right;
    &::after {
      font-size: 14px;
      margin: 0 0 0 5px;
    }
  }

  &__actual {
    color: #333333;
    font-size: 24px;
    font-weight: 900;

    &::after {
      font-size: 18px;
      margin: 0 0 0 5px;
    }
  }
}

.tag {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__tag {
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    background-color: #fd8424;
    padding: 4px 15px 3px;
    border-radius: 20px;
    text-align: center;
    text-transform: lowercase;

    &--outstock {
      display: none;
      background-color: #74c7d2;
    }

    &--sale {
      display: none;
      background-color: #5ebe59;
      margin: 10px 0 0 0;
    }
  }
}

.amount {
  display: inline-flex;
  align-items: center;
  &__input {
    max-width: 56px;
    padding: 6px 10px 5px;
    text-align: center;
    margin: 0 15px;
    border: 2px solid #e5e5e5;
    color: #999999;
    font-size: 16px;
    font-weight: 900;
  }

  &__button {
    cursor: pointer;
    svg {
      width: 19px;
      height: 17px;
    }

    @media (min-width: $md2+px) {
      &:hover {
        svg path {
          stroke: #fd8424;
        }
      }
    }
  }
}

.tabs-content {
  display: none;

  &.active {
    display: block;
  }
}

.title-h1 {
  color: #dadada;
  font-family: UniSansHeavyCaps, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
}

.title-h2 {
  color: #dadada;
  font-family: UniSansHeavyCaps, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
}


