//=========================================================================
.header {
	background: url("../images/bg_header.jpg") top no-repeat;
	// .header__top
	&__top {
	}
	// .header__bottom
	&__bottom {
	}
}
.top-header {
	// .top-header__content
	&__content {
		height: 90px;
		display: flex;
		align-items: center;
	}
	// .top-header__column
	&__column {
		flex: 0 1 50%;
		&--logo {
			align-self: flex-start;
			flex: 0 0 190px;
			text-align: center;
			padding-top: 25px;
		}
	}
	// .top-header__menu
	&__menu {
	}
	// .top-header__logo
	&__logo {
	}
	// .top-header__img
	&__img {
	}
	// .top-header__contacts
	&__contacts {
	}
}

// ._container
._container {
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: grid;
		grid-template-columns: 110px 130px 180px;
		li {
			margin-bottom: 2px;
		}
	}
	// .menu__link
	&__link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 27px;
		color: #fff;
		padding: 0 22px;
		font-family: Play, sans-serif;
		font-size: 14px;
		font-weight: 700;
		// line-height: 18px;
		transition: all 0.3s ease 0s;
		white-space: nowrap;
		span {
			position: relative;
			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 1.5px;
				background-color: rgba(#fff, 0.6);
				bottom: 1px;
			}
		}
		@media (min-width: $md2+px) {
			&:hover {
				border-radius: 20px;
				background-color: #068292;
				box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0.5px 0px rgba(255, 255, 255, 1);
			}
		}
	}
}
.icon-menu {
}
.contacts-header {
	display: flex;
	justify-content: center;
	// .contacts-header__item
	&__item {
		color: #fff;
		line-height: 18px;
		padding: 0 34px 0 38px;
		&--icon {
			border-right: 1px solid #fff;
			position: relative;
			&::before {
				position: absolute;
				content: "";
				width: 19px;
				height: 25px;
				background: url("../images/icons/header/phone.png") left no-repeat;
				left: 0;
				bottom: 5px;
			}
		}
	}

	// .contacts-header__label
	&__label {
		color: #fff;
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 5px;
	}
	// .contacts-header__phone
	&__phone {
		width: 147px;
		height: 13px;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
	}
}

.bottom-header {
	// .bottom-header__container
	&__container {
		display: flex;
	}
	// .bottom-header__column
	&__column {
		flex: 0 1 50%;
	}
	// .bottom-header__actions
	&__actions {
	}
	// .bottom-header__info
	&__info {
	}
}
.actions-header {
	display: flex;
	// .actions-header__login
	&__login {
	}
	// .actions-header__register
	&__register {
	}
	// .actions-header__email
	&__email {
	}
}
.info-header {
	display: flex;
	align-items: center;
	// .info-header__column
	&__column {
	}
	// .info-header__callback
	&__callback {
		padding-left: 30px;
		color: #1ab9ce;
		font-size: 14px;
		font-weight: 300;
		line-height: 18px;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width: 20px;
			height: 20px;
			background: url('../images/icons/header/callback.png') left no-repeat;
			left: 0;
			bottom: 5px;
		}
	}
	// .info-header__schedule
	&__schedule {
	}
	// .info-header__cart
	&__cart {
	}
}

//=========================================================================
/*
//BURGER-MENU 
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
