//product-card===============================================================================
.card {

  &__title {
    color: #333333;
    font-size: 36px;
    font-family: "UniSansHeavyCaps", sans-serif;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 20px 0;

    span {
      display: block;
      color: #dadada;
      font-size: 30px;
    }
  }

  &__inner {
    display: flex;
    margin: 0 0 40px 0;
    @media (max-width: 700px) {
      flex-direction: column;
    }
  }
  
  &__slider {
    margin: 0 30px 0 0;
    @media (max-width: 700px) {
      margin: 0 auto 30px auto;
    }
  }

  &__actions {
    width: 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 0 12px 0;
    border-bottom: 1px solid #ededed;

    &--cart {
      padding: 30px 0 30px 5px;
      //@media (max-width: 700px) {
      //  flex-direction: column;
      //  align-items: flex-end;
      //}
      //@media (max-width: $md2+px) {
      //  flex-direction: row;
      //  align-items: center;
      //}

    }
  }

  &__labels {
    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: flex-end;
    }
    @media (max-width: $md2+px) {
      flex-direction: row;
      align-items: center;
    }
    @media (max-width: $md3+px) {
      flex-direction: column;
      align-items: flex-end;
    }
    @media (max-width: 700px) {
      flex-direction: row;
      align-items: center;
    }
    @media (max-width: 400px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__compare {
    background-color: #f3f3f3;
    color: #666666;
    transition: all .3s ease 0s;
    margin: 10px 0;
    &::before {
      transition: all .3s ease 0s;
      background-image: url('../images/icons/compare-card.png');
    }
    
    @media (min-width: $md2+px) {
      &:hover {
        color: #ffffff;
        background-color: #1ab9ce;
        &::before {
          background-image: url('../images/icons/compare.png');
        }
      }
    }    
  }
  
  &__price {
    margin: 0 10px 0 0;
    @media (max-width: 1200px) {
      margin: 0 10px 20px 0;
    }
  }

  &__label {
    display: block;
  }

  .slider {
    max-width: 360px;

    &__body {
      border: 1px solid #f5f5f5;
    }

    &__slide {
      padding: 36px 85px 30px 60px;
    }

    &__image {
      background-size: contain;
    }

    &__content {
      position: relative;
      height: 241px;
    }

    &__label {
      color: #ffffff;
      font-size: 16px;
      font-weight: 900;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.29px;
      position: absolute;
      left: -30px;
      top: -4px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &::before {
        position: absolute;
        content: '';
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-color: #f65738;
        z-index: -1;
      }
    }

    &__dots {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 14px 0 0 -12px;
      position: relative;
      z-index: 2;

      @media (max-width: 640+px) {
        display: none;
      }

      .swiper-pagination-bullet {
        width: 81px;
        height: 68px;
        margin: 0 0 0 12px;
        border: 1px solid #e4e4e4;
        background-color: #fff;
        border-radius: 0;
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        opacity: 1;
        &::before {
          display: none;
        }
      }

      .swiper-pagination-bullet-active {
        border: 3px solid #f68038;
      }
    }
  }

  &__amount {
    margin: 0 10px 0 0;
    @media (max-width: 1200px) {
      margin: 0 0 20px 0;
    }

  }

  &__cart {
    white-space: nowrap;
    color: #999999;
    font-size: 14px;
    font-weight: 900;
    line-height: 16px;
    text-transform: uppercase;
    padding: 9px 22px 8px 16px;
    margin: 0 50px 0 0;
    background-color: #f3f3f3;
    border: none;
    transition: all .3s ease 0s;
    position: relative;
    min-width: 115px;

    &::before {
      position: absolute;
      content: '';
      width: 57px;
      height: 57px;
      border-radius: 50%;
      background-color: #fd8424;
      right: -52px;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &::after {
      position: absolute;
      content: '';
      width: 40px;
      height: 30px;
      background: url('../images/icons/header/cart-default.png') center no-repeat;
      top: 50%;
      right: -44px;
      transform: translateY(-50%);
    }

    @media (max-width: 1200px) {
      flex: 0 1 100%;
    }
    
    @media (min-width: $md2+px) {
      &:hover {
        background-color: #fd8424;
        color: #fff;
      }
    }
  }

  &__benefits {
    padding: 22px 0 16px;
    border-bottom: 1px solid #ededed;
  }

  &.outstock {

    .tag {
      &__tag {
        display: none;
      }

      &__tag--outstock {
        display: block;
      }
    }
  }

  &.sale {

    .tag__tag--sale {
      display: block;
    }
  }

  &__tabs {
    margin: 0 0 50px 0;
  }
}

.benefits {

  &__title {
    color: #333333;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0 0 23px 0;
    @media (max-width: 1200px) {
      text-align: center;
    }  
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
      justify-content: space-evenly;
    }

  }

  &__item {
    text-align: center;
    margin: 0 50px 0 0;
    &:last-child {
      margin: 0;
    }
    @media (max-width: 1200px) {
      margin: 10px;
      &:last-child {
        margin: 10px;
      }
    }




  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    margin: 0 0 10px 0;

  }



  &__about {
    margin: 0 10px;
    max-width: 100px;
    line-height: 14px;
    color: #999999;
    font-size: 12px;
    font-weight: 300;

  }
}

.tabs-card {
  &__tab-box {
    display: flex;
  }

  &__tab {
    cursor: pointer;;
    padding: 17px 30px;
    font-size: 14px;
    color: #72c9d4;
    font-weight: 900;
    line-height: 16px;
    text-transform: uppercase;

    span {
      border-bottom: 2px dashed #72c9d4;
    }
    
    &.active {
      background-color: #72c9d4;
      color: #fff;
      span {
        border-bottom: none;
      }
    }
  }
}